
@import 'mixin';

.list{
	.item{
		background: #fff;
		padding: 16px;
		@include flex(1);
		@include display;
		@include align-items(center);
		@include justify-content(space-between);
	}
	.item-note{
		padding-left: 16px;
		@include flex(1);
		@include display;
		@include align-items(center);
		@include justify-content(space-between);
	}

}
  



